.glide__item-name {
  grid-area: name;
  margin: 0 0 0 12px;
  font-family: Roboto Slab, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #1A1B22;
}

@media screen and (min-width: 1024px){
  .glide__item-name {
    font-size: 26px;
  }
}
