.content__item-link {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #B6BCBF;
  margin: 5px 16px 16px;
}

@media screen and (min-width: 768px){
  .content__item-link {
    margin: 16px;
  }
}


@media screen and (min-width: 1024px){
  .content__item-link {
    margin: 24px;
  }
}
