@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/preloader/preloader.css);
@import url(../blocks/header/header.css);
@import url(../blocks/navigation/navigation.css);
@import url(../blocks/search/search.css);

p {
  margin: 0;
}
.root {
  position: relative;
  font-family: 'Roboto';
  font-style:  normal;
  margin: 0 auto;
  width: calc(100% - 200px);

}

@media screen and (max-width: 980px) {
  .root {
    width: 90%;
  }
}
