.glide__item {
  width: 256px ;
  height: 232px ;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 16px;

  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: auto 24px 24px 134px;
  grid-template-areas:
  'date date'
  'img name'
  'img email'
  'text text';
}

@media screen and (min-width: 628px){
  .glide__item {
    width: 296px ;
    height: 196px ;
  }
}

@media screen and (min-width: 1024px){
  .glide__item {

    grid-template-columns: 64px 1fr;

  grid-template-rows: auto 32px 32px 134px;
    width: 352px ;
    height: 240px ;
  }
}
