.answer-noresult__image {
  width: 96px;
  height: 96px;
  padding-top: 80px;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-image: url(../../../images/not-found.png);
}
